@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-color: #282828;
  --transparent: #525252;
}

* {
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  cursor: url("../images/cursor/cursor.png"), default;
}
body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  margin: 0;
  background-color: var(--main-color);
}

#pfp-preview {
  width: min(620px, 90vw);
  background-color: var(--transparent);
  border: 4px solid black;
}

#intruder-color-input {
  border: 4px solid black !important;
  font-size: min(4vw, 20px);
  padding: 10px;
  cursor: url("../images/cursor/pointer.png"), default !important;
}

#intruder-color-input:focus {
  outline: none;
}

#download-btn {
  padding: 10px;
  background-color: white;
  border: 4px solid black;
  cursor: url("../images/cursor/pointer.png"), default !important;
}

#download-btn:active {
  transform: translateY(4px);
}

#title {
  text-align: center;
  color: white;
  font-size: min(6vw,40px);
  -webkit-text-stroke: min(1vw, 8px) black;
  paint-order: stroke fill;
}